{% extends 'rpn_forms/base.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}">


    {% if form %}
    <div class="container">
           <form id="contact" action="{% url 'rfs' %}" method="POST" class="appointment-form" id="appointment-form">
               {% csrf_token %}
               <h2>Распоряжения</h2>
                    {{form.raspr_date}}
               <div class="select-list">
                    {{form.district}}
               </div>
               <div class="select-list">
                    {{form.department}}
               </div>

                    {{form.organization}}

                    {{form.inn}}
                <div class="select-list">
                    {{form.performer}}
                </div>
                    {{form.check_type}}

                    {{form.date_proved}}

               <input type="submit" value="Добавить">
           <form>
       </div>
    {% endif %}

    {% if sended %}
        <div class="row">
        {{ sended }}
        </div>
    {% endif %}
        {% if error %}
        <div class="row">
        {{ error }}
        </div>
    {% endif %}
   </div>

{% endblock %}